In [4]:
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
paths = ["trades_round_1_day_-2_wn.csv", "trades_round_1_day_-1_wn.csv", "trades_round_1_day_0_wn.csv", "trades_round_3_day_0_wn.csv", "trades_round_3_day_1_wn.csv", "trades_round_3_day_2_wn.csv", "trades_round_4_day_1_wn.csv", "trades_round_4_day_2_wn.csv", "trades_round_4_day_3_wn.csv"]

df = pd.DataFrame()
for i, path in enumerate(paths):
    new_df = pd.read_csv(path, delimiter=";")
    # add 1000000 to timestamp column
    # new_df["timestamp"] = new_df["timestamp"] + 1000000 * i
    df = pd.concat([df, new_df])

df.tail(20)

,timestamp,buyer,seller,symbol,currency,price,quantity
1676,989200,Vladimir,Ruby,COCONUT_COUPON,SEASHELLS,572.0,1
1677,989200,Valentina,Ruby,COCONUT_COUPON,SEASHELLS,572.0,16
1678,989700,Rhianna,Vinnie,COCONUT,SEASHELLS,9879.0,3
1679,989700,Raj,Vinnie,COCONUT,SEASHELLS,9879.0,5
1680,992000,Vinnie,Raj,COCONUT,SEASHELLS,9887.0,9
1681,992300,Valentina,Valentina,COCONUT_COUPON,SEASHELLS,575.0,6
1682,992600,Valentina,Ruby,COCONUT_COUPON,SEASHELLS,574.0,14
1683,992900,Valentina,Vinnie,COCONUT_COUPON,SEASHELLS,577.0,14
1684,993200,Rhianna,Vinnie,COCONUT,SEASHELLS,9888.0,3
1685,993700,Raj,Vinnie,COCONUT,SEASHELLS,9887.0,7
1686,993800,Vinnie,Vinnie,COCONUT,SEASHELLS,9885.0,6
1687,994100,Vinnie,Vinnie,COCONUT,SEASHELLS,9883.0,9
1688,994300,Rhianna,Vinnie,COCONUT,SEASHELLS,9885.0,3
1689,994900,Vinnie,Vinnie,COCONUT,SEASHELLS,9885.0,9
1690,995500,Vinnie,Vinnie,COCONUT,SEASHELLS,9887.0,8
1691,996200,Valentina,Vinnie,COCONUT_COUPON,SEASHELLS,585.0,14
1692,997100,Vinnie,Vinnie,COCONUT,SEASHELLS,9885.0,9
1693,997200,Vinnie,Vinnie,COCONUT,SEASHELLS,9883.0,8
1694,998600,Vinnie,Raj,COCONUT,SEASHELLS,9887.0,5
1695,999800,Valentina,Rhianna,COCONUT_COUPON,SEASHELLS,575.0,14