In [1]:
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from collections import defaultdict

In [2]:
paths = ["trades_round_1_day_-2_wn.csv", "trades_round_1_day_-1_wn.csv", "trades_round_1_day_0_wn.csv", "trades_round_3_day_0_wn.csv", "trades_round_3_day_1_wn.csv", "trades_round_3_day_2_wn.csv", "trades_round_4_day_1_wn.csv", "trades_round_4_day_2_wn.csv", "trades_round_4_day_3_wn.csv"]

df = pd.DataFrame()
for i, path in enumerate(paths):
    new_df = pd.read_csv(path, delimiter=";")
    # add 1000000 to timestamp column
    new_df["timestamp"] = new_df["timestamp"] + 1000000 * i
    df = pd.concat([df, new_df])

df = df.drop(df[df['buyer'] == df['seller']].index)
df.head(8)
# df['seller'].unique()

end_price = {
    'AMETHYSTS': 10000,
    'STARFRUIT': 4871.5,
    'ORCHIDS': 1148.6,
    'CHOCOLATE': 7957.5,
    'STRAWBERRIES': 3978.5,
    'ROSES': 13719.5,
    'GIFT_BASKET': 69795, 
    'COCONUT': 9860.5,
    'COCONUT_COUPON': 582,
}

In [8]:
bidask_paths = ['prices_round_1_day_-2.csv', 'prices_round_2_day_-1.csv', 'prices_round_3_day_0.csv', 'prices_round_4_day_1.csv', 'prices_round_4_day_2.csv', 'prices_round_4_day_3.csv']

bidask_df = pd.DataFrame()
for i, path in enumerate(bidask_paths):
    new_df = pd.read_csv(path, delimiter=";")
    # add 1000000 to timestamp column
    new_df["timestamp"] = new_df["timestamp"] + 1000000 * i
    bidask_df = pd.concat([bidask_df, new_df])

bidask_df.tail(50)

,day,timestamp,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,...,ask_volume_3,mid_price,profit_and_loss,ORCHIDS,TRANSPORT_FEES,EXPORT_TARIFF,IMPORT_TARIFF,SUNLIGHT,HUMIDITY,DAY
19950,3.0,5997500,COCONUT_COUPON,583.0,44.0,NaN,NaN,NaN,NaN,584.0,...,NaN,583.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19951,3.0,5997500,COCONUT,9882.0,119.0,9881.0,76.0,NaN,NaN,9883.0,...,NaN,9882.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19952,3.0,5997600,COCONUT,9882.0,102.0,9881.0,47.0,NaN,NaN,9883.0,...,NaN,9882.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19953,3.0,5997600,COCONUT_COUPON,582.0,37.0,NaN,NaN,NaN,NaN,583.0,...,NaN,582.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19954,3.0,5997700,COCONUT,9883.0,111.0,9882.0,52.0,NaN,NaN,9884.0,...,NaN,9883.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19955,3.0,5997700,COCONUT_COUPON,582.0,40.0,NaN,NaN,NaN,NaN,583.0,...,NaN,582.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19956,3.0,5997800,COCONUT,9883.0,118.0,9882.0,66.0,NaN,NaN,9884.0,...,NaN,9883.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19957,3.0,5997800,COCONUT_COUPON,583.0,44.0,NaN,NaN,NaN,NaN,584.0,...,NaN,583.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19958,3.0,5997900,COCONUT_COUPON,583.0,35.0,NaN,NaN,NaN,NaN,584.0,...,NaN,583.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19959,3.0,5997900,COCONUT,9882.0,139.0,9881.0,48.0,NaN,NaN,9883.0,...,NaN,9882.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19960,3.0,5998000,COCONUT,9882.0,141.0,9881.0,43.0,NaN,NaN,9884.0,...,NaN,9883.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19961,3.0,5998000,COCONUT_COUPON,584.0,34.0,NaN,NaN,NaN,NaN,585.0,...,NaN,584.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19962,3.0,5998100,COCONUT,9883.0,112.0,9882.0,50.0,NaN,NaN,9884.0,...,NaN,9883.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19963,3.0,5998100,COCONUT_COUPON,583.0,41.0,NaN,NaN,NaN,NaN,584.0,...,NaN,583.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19964,3.0,5998200,COCONUT,9884.0,141.0,9883.0,55.0,NaN,NaN,9886.0,...,NaN,9885.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19965,3.0,5998200,COCONUT_COUPON,583.0,32.0,NaN,NaN,NaN,NaN,584.0,...,NaN,583.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19966,3.0,5998300,COCONUT_COUPON,582.0,42.0,NaN,NaN,NaN,NaN,583.0,...,NaN,582.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19967,3.0,5998300,COCONUT,9885.0,122.0,9884.0,45.0,NaN,NaN,9886.0,...,NaN,9885.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19968,3.0,5998400,COCONUT,9887.0,142.0,9886.0,52.0,NaN,NaN,9888.0,...,NaN,9887.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19969,3.0,5998400,COCONUT_COUPON,580.0,52.0,NaN,NaN,NaN,NaN,581.0,...,NaN,580.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19970,3.0,5998500,COCONUT,9887.0,115.0,9886.0,71.0,NaN,NaN,9888.0,...,NaN,9887.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19971,3.0,5998500,COCONUT_COUPON,580.0,47.0,NaN,NaN,NaN,NaN,581.0,...,NaN,580.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19972,3.0,5998600,COCONUT,9887.0,110.0,9886.0,58.0,NaN,NaN,9889.0,...,NaN,9888.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19973,3.0,5998600,COCONUT_COUPON,580.0,36.0,NaN,NaN,NaN,NaN,581.0,...,NaN,580.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19974,3.0,5998700,COCONUT_COUPON,578.0,26.0,NaN,NaN,NaN,NaN,579.0,...,NaN,578.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19975,3.0,5998700,COCONUT,9886.0,100.0,9885.0,67.0,NaN,NaN,9887.0,...,NaN,9886.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19976,3.0,5998800,COCONUT_COUPON,577.0,39.0,NaN,NaN,NaN,NaN,578.0,...,NaN,577.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19977,3.0,5998800,COCONUT,9885.0,118.0,9884.0,54.0,NaN,NaN,9886.0,...,NaN,9885.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19978,3.0,5998900,COCONUT,9886.0,133.0,9885.0,79.0,NaN,NaN,9887.0,...,NaN,9886.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19979,3.0,5998900,COCONUT_COUPON,579.0,35.0,NaN,NaN,NaN,NaN,580.0,...,NaN,579.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19980,3.0,5999000,COCONUT_COUPON,579.0,38.0,NaN,NaN,NaN,NaN,580.0,...,NaN,579.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19981,3.0,5999000,COCONUT,9886.0,122.0,9885.0,46.0,NaN,NaN,9887.0,...,NaN,9886.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19982,3.0,5999100,COCONUT_COUPON,578.0,32.0,NaN,NaN,NaN,NaN,579.0,...,NaN,578.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19983,3.0,5999100,COCONUT,9883.0,170.0,NaN,NaN,NaN,NaN,9885.0,...,NaN,9884.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19984,3.0,5999200,COCONUT_COUPON,577.0,35.0,NaN,NaN,NaN,NaN,578.0,...,NaN,577.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19985,3.0,5999200,COCONUT,9883.0,148.0,9882.0,65.0,NaN,NaN,9884.0,...,NaN,9883.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19986,3.0,5999300,COCONUT,9883.0,108.0,9882.0,74.0,NaN,NaN,9884.0,...,NaN,9883.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19987,3.0,5999300,COCONUT_COUPON,577.0,37.0,NaN,NaN,NaN,NaN,578.0,...,NaN,577.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19988,3.0,5999400,COCONUT_COUPON,577.0,39.0,NaN,NaN,NaN,NaN,578.0,...,NaN,577.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19989,3.0,5999400,COCONUT,9883.0,118.0,9882.0,69.0,NaN,NaN,9885.0,...,NaN,9884.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19990,3.0,5999500,COCONUT_COUPON,577.0,45.0,NaN,NaN,NaN,NaN,578.0,...,NaN,577.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19991,3.0,5999500,COCONUT,9883.0,141.0,9882.0,66.0,NaN,NaN,9884.0,...,NaN,9883.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19992,3.0,5999600,COCONUT_COUPON,577.0,30.0,NaN,NaN,NaN,NaN,578.0,...,NaN,577.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19993,3.0,5999600,COCONUT,9884.0,119.0,9883.0,75.0,NaN,NaN,9885.0,...,NaN,9884.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19994,3.0,5999700,COCONUT,9883.0,115.0,9882.0,53.0,NaN,NaN,9884.0,...,NaN,9883.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19995,3.0,5999700,COCONUT_COUPON,575.0,40.0,NaN,NaN,NaN,NaN,576.0,...,NaN,575.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19996,3.0,5999800,COCONUT_COUPON,575.0,30.0,NaN,NaN,NaN,NaN,576.0,...,NaN,575.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19997,3.0,5999800,COCONUT,9883.0,127.0,9882.0,46.0,NaN,NaN,9885.0,...,NaN,9884.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19998,3.0,5999900,COCONUT_COUPON,575.0,43.0,NaN,NaN,NaN,NaN,576.0,...,NaN,575.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19999,3.0,5999900,COCONUT,9882.0,137.0,9881.0,69.0,NaN,NaN,9883.0,...,NaN,9882.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
class BotPosition:
    def __init__(self):
        self.seashells = 0
        self.position = 0

class BotProfits:
    def __init__(self):
        self.positions = dict()
        self.products = ['AMETHYSTS', 'STARFRUIT', 'ORCHIDS', 'CHOCOLATE', 'STRAWBERRIES', 'ROSES', 'GIFT_BASKET', 'COCONUT', 'COCONUT_COUPON']
        self.bot_names = ['Ruby', 'Valentina', 'Remy', 'Vinnie', 'Vladimir', 'Rhianna', 'Amelia', 'Adam', 'Raj']

        for product in self.products:
            for name in self.bot_names:
                self.positions[f'{product} - {name}'] = BotPosition()

In [5]:
bot_profits = BotProfits()

for _, row in df.iterrows():
    buyer, seller, product, price, quantity = row['buyer'], row['seller'], row['symbol'], row['price'], row['quantity']

    bot_profits.positions[f'{product} - {seller}'].seashells += price * quantity
    bot_profits.positions[f'{product} - {seller}'].position -= quantity
    bot_profits.positions[f'{product} - {buyer}'].seashells -= price * quantity
    bot_profits.positions[f'{product} - {buyer}'].position += quantity

for id in bot_profits.positions.keys():
    product = id.split()[0]
    print(f'{id}, {bot_profits.positions[id].seashells + bot_profits.positions[id].position * end_price[product]}')

AMETHYSTS - Ruby, -9384.0
AMETHYSTS - Valentina, 23714.0
AMETHYSTS - Remy, -10523.0
AMETHYSTS - Vinnie, 7374.0
AMETHYSTS - Vladimir, 5046.0
AMETHYSTS - Rhianna, -5414.0
AMETHYSTS - Amelia, -9113.0
AMETHYSTS - Adam, -1700.0
AMETHYSTS - Raj, 0
STARFRUIT - Ruby, 11993.5
STARFRUIT - Valentina, -116367.5
STARFRUIT - Remy, 42126.0
STARFRUIT - Vinnie, 112614.5
STARFRUIT - Vladimir, 18413.5
STARFRUIT - Rhianna, 9822.5
STARFRUIT - Amelia, -54125.0
STARFRUIT - Adam, -24477.5
STARFRUIT - Raj, 0.0
ORCHIDS - Ruby, 0.0
ORCHIDS - Valentina, 0.0
ORCHIDS - Remy, 0.0
ORCHIDS - Vinnie, 0.0
ORCHIDS - Vladimir, 0.0
ORCHIDS - Rhianna, 0.0
ORCHIDS - Amelia, 0.0
ORCHIDS - Adam, 0.0
ORCHIDS - Raj, 0.0
CHOCOLATE - Ruby, 0.0
CHOCOLATE - Valentina, 0.0
CHOCOLATE - Remy, -79368.0
CHOCOLATE - Vinnie, 243384.0
CHOCOLATE - Vladimir, -164016.0
CHOCOLATE - Rhianna, 0.0
CHOCOLATE - Amelia, 0.0
CHOCOLATE - Adam, 0.0
CHOCOLATE - Raj, 0.0
STRAWBERRIES - Ruby, 0.0
STRAWBERRIES - Valentina, 0.0
STRAWBERRIES - Remy, -13250.0
STRAWBERRIES - Vinnie, -285175.5
STRAWBERRIES - Vladimir, 298425.5
STRAWBERRIES - Rhianna, 0.0
STRAWBERRIES - Amelia, 0.0
STRAWBERRIES - Adam, 0.0
STRAWBERRIES - Raj, 0.0
ROSES - Ruby, 0.0
ROSES - Valentina, 0.0
ROSES - Remy, -52871.5
ROSES - Vinnie, -1031395.0
ROSES - Vladimir, 1087029.5
ROSES - Rhianna, -2763.0
ROSES - Amelia, 0.0
ROSES - Adam, 0.0
ROSES - Raj, 0.0
GIFT_BASKET - Ruby, -15133.0
GIFT_BASKET - Valentina, 0
GIFT_BASKET - Remy, 0
GIFT_BASKET - Vinnie, -92574.0
GIFT_BASKET - Vladimir, -369835.0
GIFT_BASKET - Rhianna, 477542.0
GIFT_BASKET - Amelia, 0
GIFT_BASKET - Adam, 0
GIFT_BASKET - Raj, 0
COCONUT - Ruby, 0.0
COCONUT - Valentina, 0.0
COCONUT - Remy, 0.0
COCONUT - Vinnie, -31503.0
COCONUT - Vladimir, 0.0
COCONUT - Rhianna, 2534.0
COCONUT - Amelia, 0.0
COCONUT - Adam, 0.0
COCONUT - Raj, 28969.0
COCONUT_COUPON - Ruby, 19220.0
COCONUT_COUPON - Valentina, -685645.0
COCONUT_COUPON - Remy, 0
COCONUT_COUPON - Vinnie, 591493.0
COCONUT_COUPON - Vladimir, -18315.0
COCONUT_COUPON - Rhianna, 93247.0
COCONUT_COUPON - Amelia, 0
COCONUT_COUPON - Adam, 0
COCONUT_COUPON - Raj, 0

In [9]:
coconut = np.array(bidask_df[bidask_df["symbol"] == "COCONUT"]['mid_price'].to_list())

KeyError: 'symbol'